1.  Sort a dictionary by values (ascending) and return a list of (key, value) pairs.

In [1]:
d = {'a': 1, 'b': 2, 'c': 1}
d_sorted = dict(sorted(d.items(),key=lambda x:x[1]))
print(d_sorted)

{'a': 1, 'c': 1, 'b': 2}

2. Find the key with the maximum value in a dictionary.

In [8]:
d = {'a': 1, 'b': 2, 'c': 1,'e':5}
a=0
for i,j in d.items():
    if d[i]>a:
        a=d[i]
print("max num:",a)

max num: 5

In [9]:
max_key =max(d,key=d.get)
print(max_key)

e

3.  Given a dictionary of student names and marks, find the top 3 students.

In [11]:
students = {'Alice': 85, 'Bob': 92, 'Cara': 78, 'Dan': 95}
top3 = dict(sorted(students.items(),key=lambda x:x[1],reverse=True)[:3])
print(top3)

{'Dan': 95, 'Bob': 92, 'Alice': 85}

4. Remove a key from a dictionary safely without raising an error if the key doesn’t exist.

In [12]:
students.pop('Bob',None)

92

In [13]:
print(students)

{'Alice': 85, 'Cara': 78, 'Dan': 95}

5. Create a dictionary comprehension that maps numbers from 1 to N to their squares.

In [15]:
d = {'a': 11, 'b': 12, 'c': 14}
n= int(input('Enter the Number: '))
d={i:j*j for i, j in d.items()}
print(d)

{'a': 121, 'b': 144, 'c': 196}

6. Using dictionary comprehension, filter out all items where the value is negative

In [16]:
d = {'a': 11, 'b': 12, 'c': 14,'d':-2,'e':-4}
d_up={i:j for i, j in d.items() if j<0}
print(d_up)

{'d': -2, 'e': -4}

7. Count the frequency of each value in a list using a dictionary (without Counter).

In [25]:
lst = [1, 2, 2, 3, 1]
freq = {}

for i in lst:
    cnt = 0               # reset counter for each i
    for j in lst:
        if j == i:
            cnt += 1      # increment correctly
    freq[i] = cnt

print(freq)

{1: 2, 2: 2, 3: 1}

In [26]:
freq={}
for x in lst:
    freq[x]=freq.get(x,0)+1
print(freq)

{1: 2, 2: 2, 3: 1}

8. Given two lists: one of employee IDs and one of departments, build a dictionary mapping each department to a list of employee IDs.

In [27]:
emp_ids = [1, 2, 3, 4]
depts = ['IT', 'HR', 'IT', 'Finance']

dic=dict(zip(emp_ids,depts))
print(dic)

{1: 'IT', 2: 'HR', 3: 'IT', 4: 'Finance'}

In [30]:
emp_ids = [1, 2, 3, 4]
depts = ['IT', 'HR', 'IT', 'Finance']
dept_map = {}
for emp, dept in zip(emp_ids, depts):
    dept_map.setdefault(dept, []).append(emp)
print(dept_map)

{'IT': [1, 3], 'HR': [2], 'Finance': [4]}

9.  Flatten a nested dictionary one level deep.

In [31]:
nested = {'a': {'x': 1, 'y': 2}, 'b': {'z': 3}}
flat={}
for i,j in nested.items():
    for v,k in j.items():
        flat[f"{i}_{v}"]=k
print(flat)

{'a_x': 1, 'a_y': 2, 'b_z': 3}

10. Given a dictionary, write code to check if all values are unique.

In [32]:
d = {'a': 1, 'b': 2, 'c': 1,'e':5}
values=list(d.values())
all_unique=len(values)==len(set(values))
print(all_unique)

False

11. Given a dictionary, add a key only if it doesn’t already exist.

In [33]:
if key not in d:
    d[key] =val

NameError: name 'key' is not defined

12. Demonstrate how to iterate over keys, values, and key‑value pairs in a dictionary.

In [35]:
for k in d.keys():
    print(k)

for v in d.values():
    print(v)

for i,j in d.items():
    print(i,j)

a
b
c
e
1
2
1
5
a 1
b 2
c 1
e 5

13. Given a list of dictionaries representing employees (id, name, dept), build a dictionary keyed by id

In [36]:
employees = [
{'id': 1, 'name': 'Alice', 'dept': 'IT'},
{'id': 2, 'name': 'Bob', 'dept': 'HR'}
]

dic={emp['id']:emp for emp in employees}
print(dic)

{1: {'id': 1, 'name': 'Alice', 'dept': 'IT'}, 2: {'id': 2, 'name': 'Bob', 'dept': 'HR'}}

14. Given transaction records as a list of tuples (customer_id, amount), build a dictionary mapping customer_id to total amount.

In [37]:
transactions = [(1, 100), (2, 50), (1, 200)]
totals={}
for i, j in transactions:
    totals[i]=totals.get(i,0)+j

print(totals)

{1: 300, 2: 50}

15. Convert a dictionary to a list of (key, value) tuples and back again.

In [39]:
d={'a':1,'b':2}
items = list(d.items())
d2=dict(items)
print(items)
print(d2)

[('a', 1), ('b', 2)]
{'a': 1, 'b': 2}