1) Write a Python program to get the Python version you are using

In [4]:
import sys
print(sys.version)

3.12.5 (tags/v3.12.5:ff3bc82, Aug  6 2024, 20:45:27) [MSC v.1940 64 bit (AMD64)]

2) Write a Python program to display the current date and time

In [ ]:
# Date and time
from datetime import datetime
print(datetime.now()) # or
print(datetime.today())

# only date
from datetime import date
print(datetime.now().date()) # or
print(date.today())

# only time
from datetime import time   
print(datetime.now().time()) # or
print(datetime.today().time())

# Creating Date, time and Datetime
# Date
d=date(2025,12,31)
print(d)

# Time
t=time(23,59,59)
print(t)

# Datetime
dt=datetime(2025,12,31,23,59,59)
print(dt)

# Formatting Dates and Times with strftime()
from datetime import datetime
now =datetime.now()

# date
formatted_date = now.strftime("%d-%m-%y")
print("Formatted Date:", formatted_date)
print(now.strftime("%d %B %y")) # %B- full month name

# time
formatted_time = now.strftime("%H:%M:%S")
print("Formatted Time:", formatted_time)
print(now.strftime("%I:%M %p")) # %p- AM/PM %I- 12 hour format

# datetime
formatted_datetime = now.strftime("%d-%m-%Y %H:%M:%S")
print("Formatted Datetime:", formatted_datetime)

2025-11-06 11:05:55.583640
2025-11-06 11:05:55.583640
2025-11-06
2025-11-06
11:05:55.583640
11:05:55.583640
2025-12-31
23:59:59
2025-12-31 23:59:59
Formatted Date: 06-11-25
06 November 25
Formatted Time: 11:05:55
11:05 AM
Formatted Datetime: 06-11-2025 11:05:55

In [30]:
# Converting Strings to Dates — strptime()
from datetime import datetime

date_str="06-10-2023"
dt=datetime.strptime(date_str, "%d-%m-%Y")
print("Converted datetime:", dt.date())

Converted datetime: 2023-10-06

In [31]:
# Date Arithmetic with timedelta
from datetime import datetime, timedelta

today=datetime.now()
tomorrow = today+ timedelta(days=1)
yesterday = today-timedelta(days=1)

print("Today:", today)
print("Tomorrow:", tomorrow)
print("Yesterday:", yesterday)

Today: 2025-11-06 11:12:39.924678
Tomorrow: 2025-11-07 11:12:39.924678
Yesterday: 2025-11-05 11:12:39.924678

In [37]:
# Convert Columns to Datetime Using pd.to_datetime()
import pandas as pd
data = {'date_strings': ['2023-10-01', '2023-11-15', '2023-12-31']}
df = pd.DataFrame(data)
df['date_converted'] = pd.to_datetime(df['date_strings'])
df

  date_strings date_converted
0   2023-10-01     2023-10-01
1   2023-11-15     2023-11-15
2   2023-12-31     2023-12-31

3) Write a Python program which accepts the radius of a circle from the user and compute the area.

In [38]:
r= int(input("Enter radius of circle: "))
area=3.14*r*r
print("Area of circle is:", area)

Area of circle is: 78.5

4) Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

In [39]:
5.2+1+1-4+8+0+0+5+1.0

17.2

5) Write code to test whether the given number lies between 1 and 10

In [42]:
num= int(input("Enter a number: "))
if num in range(1,10):
    print("The number is in the range")
else:
    print("The number is out of range")

The number is out of range

6) sum the numbers from 1 to 20 using for loop

In [44]:
sum=0
for i in range(1,21):
    sum=sum+i
print("The sum is:", sum)

The sum is: 210

7) Display the numbers in reverse from 100 to 1

In [46]:
for i in range(100,0,-1):
    print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

8) Display multiples of 2 from 10 to 50 using range

In [47]:
for i in range(10,51):
    if i%2==0:
        print(i, end=" ")

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

9) From the below nested dictionary, pick the word "Bangalore". 
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [50]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
print(d['2'][1]['Two'][3]['Place'][3])

Bangalore

10) Use functions to return square of numbers from 2 to 5

In [51]:
def square(num):
    return num*num

for i in range(2,6):
    print("Square of", i, "is:", square(i))

Square of 2 is: 4
Square of 3 is: 9
Square of 4 is: 16
Square of 5 is: 25

11) Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a 
tuple with those numbers

In [53]:
num = input("Enter comma separated numbers: ")
num_list = num.split(',')
num_tuple = tuple(num_list)
print("List:", num_list)
print("Tuple:", num_tuple)

List: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
Tuple: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

12) Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [54]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0], color_list[-1])

Red Black

13) Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

In [59]:
from datetime import datetime
d1= date(2014,7,2)
d2= date(2014,7,11)
print(d2-d1)

9 days, 0:00:00

14) Write a Python program to get the difference between a given number and 17,
if the number is greater than 17 return double the absolute difference

In [61]:
num= int(input("Enter a number: "))
diff=17-num
if num>17:
    print("The double of the difference is:", abs(diff*2))

The double of the difference is: 96

15) To check whether given element exists in list or not?
list=[1,2,3,4,5,6,7,8,9,10]
check if 9 and 12 are present in given list or not

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
l=[9,12]
if [9,12] in list:
    print("Element found")
else:
    print("Element not found")

Element not found

16) Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.
And also it must return both addition and subtraction in a single return call

In [65]:
def calculation(a, b):
    return a+b, a-b

calculation(10,5)

(15, 5)

17) Create a function showEmployee() in such a way that it should accept employee name, and it’s salary and display both,
and if the salary is missing in function call it should show it as 9000

In [66]:
def showEmployee(name, salary=9000):
    print(name,salary)

showEmployee('ajay')

ajay 9000

18) Write a recursive function to calculate the sum of numbers from 0 to 10

In [70]:
def cal(num):
    if num!=0:
        return num+cal(num-1) 
    else:
        return 0   
print(cal(6))

21

19) Generate a Python list of all the even numbers between 4 to 30

In [71]:
list = [x for x in range(4,31) if x%2==0]
print(list)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

20) Return the largest item from the given list

In [72]:
print(max(list))

30