## Lists – Coding Practice Questions

### 1. Basic access / modification
Create a list of 5 integers and:
- print the first and last elements  
- change the third element to `100`

---

In [1]:
li=[1,2,3,4,5]
print(li[0])
print(li[-1])
li[2]=100
print(li)

1
5
[1, 2, 100, 4, 5]

### 2. Sum of elements
Write a program to find the sum of all elements in a list.

In [2]:
li=[1,2,3,4,5]
a= sum(li)
print(a)

15

In [6]:
c=0
for i in li:
    c=c+i

print(c)

15

### 3. Largest / smallest element
Find the largest and smallest element in a list **without** using `max()` and `min()`.

In [8]:
li=[12, 5, 7, 25, 3, 18]
lar=li[0]
sma=li[0]
for i in li:
    if i>lar:
        lar=i
    if i<sma:
        sma=i
print("Largest element:", lar)
print("Smallest element:", sma)

Largest element: 25
Smallest element: 3

### 4. Count occurrences
Given a list, count how many times a particular element appears.

In [12]:
li=[1,2,2,3,4,4,5,6,1,2,4,8,5,52,1,2]
count=0
num=2
for i in li:
    if i==num:
        count=count+1
print(count)

4

### 5. Count all occurrences
Given a list, count how many times each element appears.

In [13]:
li=[1,2,2,3,4,4,5,6,1,2,4,8,5,52,1,2]


for i in li:
    count=0
    for j in li:
        if j==i:
            count=count+1
    print(f"{i} : {count}")

1 : 3
2 : 4
2 : 4
3 : 1
4 : 3
4 : 3
5 : 2
6 : 1
1 : 3
2 : 4
4 : 3
8 : 1
5 : 2
52 : 1
1 : 3
2 : 4

In [14]:
li = [1, 2, 2, 3, 4, 4, 5, 6, 1, 2, 4, 8, 5, 52, 1, 2]

freq={}

for i in li:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1

for key,value in freq.items():
    print(f"{key} : {value}")

1 : 3
2 : 4
3 : 1
4 : 3
5 : 2
6 : 1
8 : 1
52 : 1

### 6. Remove duplicates
Remove duplicates from a list while:
- (a) not caring about order  
- (b) preserving the original order

In [22]:
li = [1, 2, 2, 3, 4, 4, 5, 6, 1, 2, 4, 8, 5, 52, 1, 2]

ans = list(set(li))
print(ans)

[1, 2, 3, 4, 5, 6, 8, 52]

In [23]:
li = [1, 2, 2, 3, 4, 4, 5, 6, 1, 2, 4, 8, 5, 52, 1, 2]

lis=[]

for i in li:
    if i not in lis:
        lis.append(i)
print(lis)

[1, 2, 3, 4, 5, 6, 8, 52]

### 7. Reverse a list
Reverse a list:
- using slicing  
- using a loop  
- using the built-in method

In [24]:
li=[1,2,3,4,5,6]
# slicing
print(li[::-1])

[6, 5, 4, 3, 2, 1]

In [28]:
# using loop
x=[]
for i in range(len(li)-1,-1,-1):
    x.append(li[i])
print(x)

[6, 5, 4, 3, 2, 1]

In [32]:
# using built in method
print(list(reversed(li)))

[6, 5, 4, 3, 2, 1]

### 8. Even / odd split
Given a list of integers, create two new lists:  
one with all even numbers and one with all odd numbers.

In [35]:
li=[1,2,3,4,5,6,7,8,9]

even=[i for i in li if i%2==0]
odd=[i for i in li if i%2!=0]
print(even)
print(odd)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

### 9. Second largest element
Find the second largest element in a list.

In [50]:
li=[1,2,3,4,5,6,7,8,9]
largest=second=float('-inf')

for num in li:
    if num>largest:
        second=largest
        largest=num
    elif num>second and num!=largest:
        second=num    

print(second)

8

In [47]:
li=[1,2,3,4,5,6,7,8,9]

# Sorting
unique_li=list(set(li))
unique_li.sort(reverse=True)

print("Second Largest: ", unique_li[1])

Second Largest:  8

In [48]:
print(sorted(set(li))[-2])

8

### 10. List comprehension practice
From a list of numbers, create:
- a list of their squares  
- a list of only even squares

In [37]:
li=[1,2,3,4,5,6,7,8,9]

sq=[i**2 for i in li]
even_sq=[i for i in sq if i%2==0]
print(sq)
print(even_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 16, 36, 64]

### 11. Common elements in two lists
Given two lists, find the common elements (intersection).

In [39]:
li=[1,2,3,4,5,6,7,8,9]
li2=[2,6,4,3,64,85,21]

print(list(set(li).intersection(set(li2))))

[2, 3, 4, 6]

In [40]:
common= [ x for x in li if x in li2]
print(common)

[2, 3, 4, 6]

### 12. Difference of two lists
Given two lists, find elements that are in the first list but not in the second.

In [41]:
li=[1,2,3,4,5,6,7,8,9]
li2=[2,6,4,3,64,85,21]

print(list(set(li).difference(set(li2))))

[1, 5, 7, 8, 9]

### 13. Flatten a nested list
Given `[[1, 2], [3, 4], [5, 6]]`, produce `[1, 2, 3, 4, 5, 6]`.

In [45]:
li=[[1, 2], [3, 4], [5, 6]]
flatten=[j for i in li for j in i]
print(flatten)

[1, 2, 3, 4, 5, 6]

In [46]:
# using loop
flat=[]
for sub in li:
    for item in sub:
        flat.append(item)
print(flat)

[1, 2, 3, 4, 5, 6]

### 14. List rotation
Rotate a list to the right by `k` steps.  
Example: `[1, 2, 3, 4, 5]` rotated by `2` → `[4, 5, 1, 2, 3]`.

In [55]:
from collections import deque

dq =deque([1,2,3,4,5])
dq.rotate(2)
li=list(dq)
print(li)

[4, 5, 1, 2, 3]

In [54]:
li = [1,2,3,4,5]
k = 2
if li:
    k %= len(li)
    rotated = li[-k:] + li[:-k]   # returns a new list
else:
    rotated = li
print(rotated)

[4, 5, 1, 2, 3]

### 15. Check sorted list
Check if a list is already sorted in non-decreasing order.

In [ ]:
li=[1,2,3,4,5,6,7,8,9]

if li==sorted(li):
    print('it is sorted in sorted in non-decreasing order')
else:
    print("not sorted")

### 16. Remove all occurrences
Remove all occurrences of a given value from a list **in place** (modify original list).

In [58]:
li = [1, 2, 2, 3, 4, 4, 5, 6, 1, 2, 4, 8, 5, 52, 1, 2]
x=2
li=[i for i in li if i!=x]
print(li)

[1, 3, 4, 4, 5, 6, 1, 4, 8, 5, 52, 1]

### 17. Split list into chunks
Split a list into sublists of size `n`.

Example:  
Input: `[1, 2, 3, 4, 5, 6, 7]`, `n = 3`  
Output: `[[1, 2, 3], [4, 5, 6], [7]]`

In [59]:
li = [1, 2, 3, 4, 5, 6, 7]
n = 3

chunks=[li[i:i+n] for i in range(0,len(li),n)]
print(chunks)

[[1, 2, 3], [4, 5, 6], [7]]