1. Reverse the String

In [6]:
# with slicing
a="i am batman"
print(a[::-1])

namtab ma i

In [7]:
# with for loop
a="i am batman"
b=""
for i in a:
    b=i+b
print(b)

namtab ma i

2. Reverse the number

In [8]:
# by convering to string
a=12354
print(str(a)[::-1])

45321

In [14]:
# by using for loop
a=12345
rev=0
for i in range(0,len(str(abs(a)))): 
    rem=a%10
    rev=rev*10+rem
    a=a//10
print(rev)

54321

3. Check whether a string is a palindrome

In [19]:
b='givvig'
rev=b[::-1]
if b==rev:
    print('Number is palindrome')
else:
    print('Number is not a palindrome')

Number is palindrome

4. Check whether a number is a palindrome

In [4]:
b=123321
rev=str(b)[::-1]
if str(b)==rev:
    print('Number is palindrome')
else:
    print('Number is not a palindrome')

Number is palindrome

5. Count vowels and consonants in a string.

In [14]:
a='i am batman'
vol=0
con=0
x=['a','e','i','o','u']
for i in a.replace(" ", "").lower():
    if i in x:
        vol=vol+1
    else:
        con=con+1
print(f'no of vowels is {vol} and consonant is {con}')

no of vowels is 4 and consonant is 5

6. Remove all whitespace from a string

In [16]:
b=' Avengers Assemble '
print(b)
print(b.replace(' ',''))

 Avengers Assemble
AvengersAssemble

7. Find the most frequent character in a string

In [22]:
from collections import Counter
b=' Avengers Assemble '
counts = Counter(b)
print(counts.most_common(1)[0])

('e', 4)

In [23]:
b=' Avengers Assemble '
d=0
for i in range(0,len(b)):
   c=b.count(b[i])
   
   if c>d:
      d=c
      most_char=b[i]
print("Most frequent character:", most_char)
print("Frequency:", d)

Most frequent character: e
Frequency: 4

8. Check if two strings are anagrams.

In [25]:
# using function
def are_anagrams(s1,s2):
    return sorted(s1)==sorted(s2)

print(are_anagrams('listen','silent'))
print(are_anagrams('hello','world'))

True
False

In [26]:
from collections import Counter
def are_anagrams(s1,s2):
    s1=s1.replace(' ','').lower()
    s2=s2.replace(' ','').lower()
    return Counter(s1)==Counter(s2)

print(are_anagrams("Dormitory", "Dirty room"))

True

9. Fibonacci Series

In [28]:
num=100
a=0
b=1
for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

10. Reverse words in a sentence

In [29]:
a= "i am ironman"
words=a.split()
reverse=[]
for w in words:
    reverse.insert(0,w)
print(' '.join(reverse))

ironman am i

11. Convert a string to an integer without using int()

In [1]:
def str_to_int(s):
    sign=1
    i=0
    if s[0]=="-":
        sign=-1
        i=1
    elif s[0]=='+':
        i=1 

    num=0
    while i<len(s):
        digit = ord(s[i]) - ord('0')
        num = num *10+digit
        i+=1
    return sign*num 

print(str_to_int("1234")) # 1234 
print(str_to_int("-567")) # -567

1234
-567

12. Find factorial of a number (iterative and recursive)

In [ ]:
# iterative
num=5
ans=1
for i in range(1,num+1):
    ans=ans*i
    
print(ans)

120

In [12]:
# recursive
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

13. Check if a number is prime

In [19]:

num=int(input('Enter the number: '))
def is_prime(num):
    if num<=1:
        print('number is not prime')
        return
    for i in range (2,int(num/2)+1):
        if num%i==0:
            print('Number is not prime')
            break
    else:
        print('Number is prime')
is_prime(num)

Number is not prime

14. List all prime numbers up to N (Sieve of Eratosthenes)

In [22]:
num=int(input('Enter upto which number you want prime numbers: '))

for i in range (2,num+1):
    is_prime=True
    for j in range(2,i):
        if i%j==0:
            is_prime=False
            break
    if is_prime:
        print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

15. Find second largest element in a list

In [27]:
l1=[1,2,3,4,5,6,7,8]
def second_largest(lst):
    largest=second=float('-inf')

    for num in l1:
        if num>largest:
            second=largest
            largest=num
        elif num>second and num !=largest:
            second=num

    return second

print("Second largest:", second_largest(l1))

Second largest: 7

16. Merge two sorted lists into a single sorted list

In [25]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

17. Remove duplicates from a list while preserving order.

In [ ]:
# by using set
l1=[1,2,3,4,5,5,4,7,8,14,2,3]
print(list(set(l1)))

[1, 2, 3, 4, 5, 7, 8, 14]

In [2]:
def remove_duplicates(l):
   
    result=[]
    for i in l:
        if i not in result:
            result.append(i)

    return result


numbers = [1, 2, 3, 2, 4, 1, 5, 3]
print(remove_duplicates(numbers))

[1, 2, 3, 4, 5]

18. Count frequency of elements in a list

In [8]:
l1=[1,2,3,4,5,5,4,7,8,14,2,3]
l2=set(l1)
freq={}
for i in l2:
    count=0
    for j in l1:
        if j==i:   
            count=count+1
    freq.update([(i ,count)])
print(freq)

{1: 1, 2: 2, 3: 2, 4: 2, 5: 2, 7: 1, 8: 1, 14: 1}

19. Given a list, rotate it right by k positions.

In [10]:
def rotate(lst,k):
    n=len(lst)
    k=k%n
    return lst[-k:]+lst[:-k]

lst = [1, 2, 3, 4, 5]
k = 2
print(rotate(lst, k))

[4, 5, 1, 2, 3]

20. Find the intersection of two lists (common elements)

In [12]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10,4,2,3]
l3=set(l1).intersection(set(l2))
print(l3)

{2, 3, 4}

In [13]:
# using list comprehension
result=[x for x in l1 if x in l2]
print(result)

[2, 3, 4]