# Pandas Practice Questions

In [1]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.3.0

# Series

1. Write program to convert a list into Series

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]

s=pd.Series(l)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

2. Write program to convert a Series into list

In [3]:
a=s.tolist()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

3. For a given series, change the default index into odd index only

In [4]:
given_list = [2, 4, 5, 6, 9]

series = pd.Series(given_list,index=[1,3,5,7,9])
print(series)

1    2
3    4
5    5
7    6
9    9
dtype: int64

4. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [5]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

add = ds1 + ds2
sub = ds1 - ds2
mul = ds1 * ds2
divide = ds1 / ds2
print(add , sub , mul, mul ,divide)

0     3
1     7
2    11
3    15
4    19
dtype: int64 0    1
1    1
2    1
3    1
4    1
dtype: int64 0     2
1    12
2    30
3    56
4    90
dtype: int64 0     2
1    12
2    30
3    56
4    90
dtype: int64 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

5. Write a Pandas program to compare the elements of the two Pandas Series.

In [6]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])

print('equal:' ,ds1 == ds2)
print('greater than:', ds1 > ds2)
print('Less than:', ds1 > ds2)

equal: 0    False
1    False
2    False
3    False
4     True
dtype: bool
greater than: 0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than: 0     True
1     True
2     True
3     True
4    False
dtype: bool

6. Write a Pandas program to convert a dictionary to a Pandas series.

In [7]:
d1 = {'a':100,'b':200,'c':300,'d':400,'e':500}
print(d1)
s=pd.Series(d1)
print(s)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
a    100
b    200
c    300
d    400
e    500
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series.

In [9]:
s1=pd.Series(['100','200','python','300.12','400'])
print(s1)

num=pd.to_numeric(s1,errors='coerce')
print(num)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [10]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)

s1 = df.iloc[:,0]
print(s1)
print(type(s1))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array.

In [12]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s1)
a= np.array(s1)
print(a)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
['100' '200' 'python' '300.12' '400']

10. Write a Pandas program to convert Series of lists to one Series.

In [13]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
x= s.explode(ignore_index=True)
print(x)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object