### Pandas Practice Questions 2:

In [2]:
import numpy as np 
import pandas as pd

1. Create a dataframe by joining more series

In [7]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
df=pd.DataFrame(pd.concat([ser1,ser2],axis=1))
print(df)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

2. Program to create 2 float Series and find all those elements of series 1 that are not present in series 2

In [8]:
ps1 = pd.Series([2.8, 4.5, 8.0, 2.2, 10.1, 4.7, 9.9])
ps2 = pd.Series([1.4, 2.8, 4.7, 4.8, 10.1, 9.9, 50.12])

res=ps1[~ps1.isin(ps2)]
print(res)

1    4.5
2    8.0
3    2.2
dtype: float64

3. Program to create a new series that combines all elements in the given 2 series

In [ ]:
union_series=pd.Series(np.union1d(ps1,ps2))
union_series

0     1.40
1     2.20
2     2.80
3     4.50
4     4.70
5     4.80
6     8.00
7     9.90
8    10.10
9    50.12
dtype: float64

4. Program to create a new series that contains common elements of the given 2 series

In [11]:
inter=pd.Series(np.intersect1d(ps1,ps2))
inter

0     2.8
1     4.7
2     9.9
3    10.1
dtype: float64

5. How to extract items at given positions from a series?

In [13]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

6. How to convert the first character of each element in a series to uppercase?

In [14]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [15]:
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

7. How to calculate the number of characters in each word in a series?

In [16]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

8. Write a Pandas program to add some data to an existing Series.

In [19]:
s = pd.Series([10, 20, 30])
new_s = pd.Series([40, 50])

s = pd.concat([s, new_s])
print(s)

0    10
1    20
2    30
0    40
1    50
dtype: int64

9. Write a Pandas program to create a subset of a given series based on value and condition.

In [22]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
n = 6
new_s = s[s < n]
print(new_s)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

10. Write a Pandas program to change the order of index of a given series.

In [23]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s = s.reindex(index = ['B','A','C','D','E'])
print(s)

B    2
A    1
C    3
D    4
E    5
dtype: int64